* {
  margin: 0%;
  border: 0;
  background-color: lightgray;
}


navbar {
  grid-area: navbar;
  background-color: darkblue;
  color: white;
  text-align: center;
  justify-content: center;
  height: 7vh;
}

.main {
  grid-area: main;
  
}
footer {
  grid-area: footer;
  background-color: #66f;
  height: 8vh;
}
aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 85vh;
}
.footer-format{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% auto;
  width: auto;
  grid-template-areas:
    "navbar navbar"
    "aside main"
    "footer footer";
 
}

.shopping-cart{
  display: grid;
  grid-template-columns: 30% 30% 30%;  
  grid-template-areas: 
    "displaycard displaycard displaycard";
}

displaycard{
  grid-area: display-card;  
  width: auto;
}
/* FLEXBOX */
.card-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  overflow: hidden;  
  background-color: white;
  margin: .5em;
}

.pinWrapper p {
  font-size: .8em;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.cardtext{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;  
}

button{
  border: 2px solid skyblue;
  background-color: blue;
  color: white;
  padding: .5em;

}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover{
  background-color: aliceblue;
  color: black;
}
/* Footer*/
.footerclass{
  background-color: blue;
  text-align: center;
  align-items: center;
  width: auto;
}

